<header>
    <nav class="headerItems">
        <div class="navBar">
            <div class="navTitle"><label > MyFace</label></div>
            <div class="navLinks"><a href="/home">Home</a></div>    
            <div class="navLinks"><a href="/posts">Posts</a></div>  
            <div class="navLinks"><a href="/users">Users</a></div>  
            <div class="navLinks newPostLink"><a href="/posts/create">+ New Post</a></div>
        </div>
    </nav>
</header>