<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <header>
        <h1>Create Post</h1>
    </header>
    <form method="post" action="/posts/create">
        <label for="imageUrl">ImageUrl:</label>
            <input type="url" id="imageUrl" name="imageUrl" required/>
      
        <br>
        <br>
        <p><label for="message">Message: </label></p>
                <textarea id="message" name="message" rows="5" cols="33" required></textarea>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
<%- include('_footer') -%>
</html>