<html lang="en-gb">
<%- include('_head') -%>

<body>
    <header class="myFaceHeader">
        <h1 class="myFaceTitle">Welcome to MyFace</h1>
    </header>
    <%- include('_header') -%>
    <%- include('menubar') -%>
</body>
<%- include('_footer') -%>
</html>