/* Add your styles here. */
body {
    background-color:#252A38;
    color: #DCDCDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width:320px){

    .myFaceHeader{
        background-color:#151820;
        height:15%;
        width:100%;
    }
    
    header .myFaceTitle{
        text-align: center;
    }
    
    .navLinks{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: #DCDCDC;
    }
    

}

